$font-principal:'Francois One', sans-serif;
$font-minusculas: 'Archivo Black', sans-serif;
body{
	outline:1px solid black;
	margin:0;
	padding:0;

}
@import 'parciales/header.scss';
/* seccion-uno*/
#seccion-uno{
	margin-top:0px;
    background-image: url(../img/fondo-bienvenida.jpg);
    heigh:100vh;
  
    background-size: cover;
    background-position: center;
.sombra{
  // background-color: rgba(0, 125, 157, 0.8);
   // background-image:url(../img/bienvenida.png);
   // margin-lefh:500px;
   align-items:center;
  // padding: 110px 20px 250px 330px;
  width:1hv;
   }
}
/**/
#seccion-dos{
	background-color:black;
iframe{
	padding-lefh:5px;
	width:100%;
	height:700px;
    }
  }
/**/
.seccion-tres{
	background-image: url(../img/fondo-about.jpg);
    width:100%;
    padding: 110px 20px 350px 330px;
    background-size: cover;
    background-position: center;
.text-justify{
	color: white;
	font-size:16px;
	font-family:$font-minusculas;
     }
.titulo{
	font-family:$font-principal;
	font-size:60px;
	color: white;
    }   
.text-seccion3{
	margin-top:-70px;
	margin-lefh:300px;
		}
  }
/*seccion4*/
.seccion-cuatro{
	margin-rigth:500px;
	.grilla-uno{
		margin-lefh:100px
	}
}

.grilla-cuatro{
	padding-lefh:5px;
	margin-lefh:10px;
}
.cajilla-imagen{
	margin-lefh:10px
}
/*seccion4*/
/*seccion-cinco*/
.seccion-cinco{
	margin-top:30px;

}
/**/
/*secccion-seis*/
.seccion-seis{
	background-image: url(../img/disfruta.jpg);
    width:100%;
    padding: 110px 20px 350px 330px;
    background-size: cover;
    background-position: center;
    .grilla{
    	margin-top:200px
    }
    .texto-grillate{
    	font-size:80px;
    	width:600px;
    	margin:0 0 0 150px;
    	color:white;
    }
}
/**/
/*secccion-siete*/
// .seccion-siete{
.seccion-siete{
	.S7-grilla{
		background-color:#efe7ae;
		height:100vh;
      .img-tacita{
        posicion:absolute;
      	align-items:center;
      	margin-raght:30px;
      }
      .text-caja-img{
       position:relative;
       width:50px;
       height:50px;
       margin:0 0 0 150px;
      }
      .img-taza{
        position:relative;
        margin-top:100px;
        margin-lefh:20px;
      }
   }
}
/*seccion-ocho*/
.seccion-ocho{ 
    .S8-grilla{
      background-color:#7EAD39;
      height:100vh;
    }
      .img-tacita{
        posicion:absolute;
        align-items:center;
        margin-raght:30px;
       

      }
      .text-caja-img{
       position:relative;
       width:330px;
       height:333px;
       margin:0 0 0 150px;
      }
      .img-taza{
        // position:relative;
        margin-top:100px;
        margin-lefh:20px;
        
      }
   }
   /*seccion-nueve*/
   .seccion-nueve{ 
       
    .S9-grilla{
      background-color:#ed9a9d;
      height:100vh;
    }
      .img-tacita{
        posicion:absolute;
        align-items:center;
        margin-raght:30px;
      }
      .text-caja-img{
       position:relative;
       width:330px;
       height:333px;
       margin:0 0 0 150px;
      }
      .img-taza{
        // position:relative;
        margin-top:100px;
        margin-lefh:20px;   
      }
   }
   /*seccion-nueve*/
   /*seccion-diez*/
   .seccion-diez{
  background-image: url(../img/parallax-4.jpg);
    width:100%;
    height:100vh;
    // padding: 120px 20px 370px 330px;
    background-size: cover;
    background-position: center;
.titulo{
  align-items:center;
  margin-top:400px;
  font-family:$font-principal;
  font-size:80px;
    color: white;
    }   
.text-seccion3{
  margin-top:-70px;
  margin-lefh:300px;
    }
  }
