body {
  margin: 0;
  padding: 0; }

* {
  outline: 1px solid red; }

body {
  height: 900px; }

nav {
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  height: 80px;
  z-index: 1000;
  margin-top: 0;
  position: fixed;
  padding-top: 0;
  background: none;
  transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1); }

.logo, .menu {
  position: absolute;
  z-index: 2000; }

.logo {
  left: 0;
  top: -4px;
  width: 70px;
  height: 74px;
  text-align: left;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(../imagenes/img.ico);
  background-size: 180%; }

#toggle {
  width: 104px;
  height: 74px;
  padding: 45px 40px;
  z-index: 1000;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0; }

.menu {
  top: 0;
  right: 0;
  height: 4px;
  width: 24px;
  text-align: right;
  margin: 2rem 2rem;
  background-color: #ec008c;
  transition: all 0.3s; }

.menu:before, .menu:after {
  content: '';
  display: block;
  width: 24px;
  height: 4px;
  background: #ec008c;
  position: absolute;
  z-index: -1; }

.menu:before {
  top: -8px; }

.menu:after {
  top: 8px; }

#toggle:hover .menu:before {
  top: -9px; }

#toggle:hover .menu:after {
  top: 9px; }

/*La clase open no viene desde HTML es agregada 
desde JS*/
.open .menu {
  background: none !important; }

.open .menu:after {
  top: 0 !important;
  background: #fff !important;
  transform: rotate(45deg); }

.open .menu:before {
  top: 0 !important;
  background: #fff !important;
  transform: rotate(-45deg); }

/* Estilos del nav */
nav .nav-background {
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: table;
  background: none;
  position: absolute;
  transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1); }

nav.open .nav-background {
  opacity: 1;
  background-color: rgba(217, 40, 130, 0.9);
  transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1); }

nav.open {
  height: 100%;
  transition: none;
  o-transition: none;
  -moz-transition: none;
  -webkit-transition: none; }

nav ul {
  top: -10%;
  padding: 0;
  opacity: 0;
  width: 100%;
  text-align: center;
  visibility: hidden;
  display: table-cell;
  vertical-align: middle;
  transform: perspective(600px) rotateX(10deg);
  transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63); }

nav ul li {
  visibility: hidden; }

nav ul li a {
  color: white;
  width: 100%;
  display: block;
  padding: 8px 0 0;
  letter-spacing: -0.06em; }

nav ul li a:hover {
  color: #ec008c;
  background-color: white; }

nav.open ul {
  top: 0;
  opacity: 1;
  margin-top: 0;
  visibility: visible;
  transform: perspective(600px) rotateX(0deg); }

nav.open ul li {
  color: #fff;
  font-size: 60px;
  visibility: visible !important; }

nav.header-in {
  background-color: rgba(217, 40, 130, 0.9); }

.solid #toggle .menu {
  background: #fff; }

.solid #toggle .menu:after {
  background-color: #fff; }

.solid #toggle .menu:before {
  background-color: #fff; }

nav.solid #logo .logo {
  background-image: url(http://www.thenyegotist.com/sites/www.thenyegotist.com/files/images/huge%20logo-whiteonmagenta%20copy.png);
  background-size: contain; }

.overflow-hidden {
  overflow: hidden; }

/* seccion-uno*/
#seccion-uno {
  margin-top: 0px;
  background-image: url(../img/fondo-bienvenida.jpg);
  heigh: 100vh;
  background-size: cover;
  background-position: center; }
  #seccion-uno .sombra {
    align-items: center;
    width: 1hv; }

/**/
#seccion-dos {
  background-color: black; }
  #seccion-dos iframe {
    padding-lefh: 5px;
    width: 100%;
    height: 700px; }

/**/
.seccion-tres {
  background-image: url(../img/fondo-about.jpg);
  width: 100%;
  padding: 110px 20px 350px 330px;
  background-size: cover;
  background-position: center; }
  .seccion-tres .text-justify {
    color: white;
    font-size: 16px;
    font-family: "Archivo Black", sans-serif; }
  .seccion-tres .titulo {
    font-family: "Francois One", sans-serif;
    font-size: 60px;
    color: white; }
  .seccion-tres .text-seccion3 {
    margin-top: -70px;
    margin-lefh: 300px; }

/*seccion4*/
.seccion-cuatro {
  margin-rigth: 500px; }
  .seccion-cuatro .grilla-uno {
    margin-lefh: 100px; }

.grilla-cuatro {
  padding-lefh: 5px;
  margin-lefh: 10px; }

.cajilla-imagen {
  margin-lefh: 10px; }

/*seccion4*/
/*seccion-cinco*/
.seccion-cinco {
  margin-top: 30px; }

/**/
/*secccion-seis*/
.seccion-seis {
  background-image: url(../img/disfruta.jpg);
  width: 100%;
  padding: 110px 20px 350px 330px;
  background-size: cover;
  background-position: center; }
  .seccion-seis .grilla {
    margin-top: 200px; }
  .seccion-seis .texto-grillate {
    font-size: 80px;
    width: 600px;
    margin: 0 0 0 150px;
    color: white; }

/**/
/*secccion-siete*/
.S7-grilla {
  background-color: #efe7ae;
  height: 800px; }
  .S7-grilla .img-tacita {
    align-items: center;
    margin-raght: 30px; }

/*# sourceMappingURL=main.css.map */
